.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7;
}

.logo img {
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #567b95;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #274665;
}

